<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="com.example.demo.dao.UmsAdminRoleRelationMapper">
    <!--注意上面的namespace一定要修改-->
    <!--以下是新增的方法-->
    <select id="getPermissionList" resultType="com.example.demo.model.UmsPermission">
        select * from user;
    </select>



</mapper>